menuconfig LED_SUBSYSTEM
	bool "LED subsystem"
	default y
	depends on GPIO
	help
	  Enable variable period for the Iomico blinky app exercise
	  application.

if LED_SUBSYSTEM

config APP_HEARTBEAT_PERIOD_MS
	int "LED on+off period in milliseconds"
	range 100 2000
	default 500

endif # LED_SUBSYSTEM

# Following Kconfig inclusion needed to support Zephyr logging template macros
source "Kconfig.zephyr"
