/*
 * blinky app overlay file - lecture 5 tasks, lecture 6 tasks
 */

/ {
	aliases {
		app-led = &blue_led_1;
		driver-led = &green_led_3;
	};
};

// For lecture 6 task 1:
// TODO [ ] Determine how to properly factor this into an app.overlay file,
//          or a best practices factoring and location if it should be
//          elsewhere.

/ {
	nn_driver0: nn_driver {
		compatible = "nn,driver";
		status = "okay";
	};
};
